svg {
    width: 100px;
    height: 100px;
}


.velocity-circle0 {
    fill: none;
    stroke-width: 10;
    transform-origin: center;
    transform: rotate(135deg);
    /* Rotate to start at top left */
}

.velocity-circle1 {
    fill: none;
    stroke-width: 10;
    transform-origin: center;
    transform: rotate(135deg);
    /* Rotate to start at top left */
}

.velocity-circle2 {
    fill: none;
    stroke-width: 10;
    transform-origin: center;
    transform: rotate(135deg);
    /* Rotate to start at top left */
}

.steering-circle-target {
    fill: none;
    stroke-width: 20;
    transform-origin: center;
    transform: rotate(135deg);
    /* Rotate to start at top left */
}

.steering-circle0 {
    fill: none;
    stroke-width: 10;
    transform-origin: center;
    transform: rotate(135deg);
    /* Rotate to start at top left */
}

.steering-circle1 {
    fill: none;
    stroke-width: 10;
    transform-origin: center;
    transform: rotate(135deg);
    /* Rotate to start at top left */
}

.steering-circle2 {
    fill: none;
    stroke-width: 10;
    transform-origin: center;
    transform: rotate(135deg);
    /* Rotate to start at top left */
}

text {
    fill: #4caf50;
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
}

.comment-box {
    background-color: #101010;
    /* warna kotak (gelap) */
    border-left: 4px solid #10ccb0;
    /* garis samping hijau */
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #f1f1f1;
    line-height: 1.6;
}

.comment-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #10ccb0;
}

.green {
    color: #4caf50;
    font-weight: bold;
}

.red {
    color: #f44336;
    font-weight: bold;
}

.comment-form {
    background-color: #101010;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #f1f1f1;
}

.comment-form h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #10ccb0;
}

.comment-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.result-choice {
    margin-top: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.result-choice label {
    margin-right: 20px;
    cursor: pointer;
}

.result-choice input {
    margin-right: 5px;
}

#btn-next {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: not-allowed;
    background-color: #777;
    color: #ccc;
}

#btn-next.active {
    cursor: pointer;
    background-color: #0da790;
    color: black;
}